// app global css in SCSS form
.primary {
  background-color: $primary;
}
.secondary {
  background-color: $secondary;
}
.tertiary {
  background-color: $tertiary;
}
.quaternary {
  background-color: $quaternary;
}
.quinary {
  background-color: $quinary;
}
.primary2 {
  background-color: $primary2;
}
.secondary2 {
  background-color: $secondary2;
}
.tertiary2 {
  background-color: $tertiary2;
}
.quaternary2 {
  background-color: $quaternary2;
}
.quinary2 {
  background-color: $quinary2;
}

.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-tertiary {
  color: $tertiary;
}
.text-quaternary {
  color: $quaternary;
}
.text-quinary {
  color: $quinary;
}
.text-primary2 {
  color: $primary2;
}
.text-secondary2 {
  color: $secondary2;
}
.text-tertiary2 {
  color: $tertiary2;
}
.text-quaternary2 {
  color: $quaternary2;
}
.text-quinary2 {
  color: $quinary2;
}
